<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="hi-text">H1 text</h1>
    <h2 class="h2-text">H1 text</h2>
    <h6 class="h2-text">H1 text</h6>
    <p>Воздух начинал наполняться теплом, <span style="color:green">обещая ясный и погожий день.</span></p>
    <a href="https://stepik.org" target="_blank">Python</a>
    <img alt="browsers.png"  src="https://s.rbk.ru/v1_static/images/common/logo.svg" style="width:100px">
    <ul>
        <li>Item1</li>
        <li>Item2</li>
        <li>Item3</li>
    </ul>
    <ol>
        <li>Item1</li>
        <li>Item2</li>
        <li>Item3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value="12345" placeholder="Text">
        <input required type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <textarea placeholder="Text">12345</textarea>
        <button type="submit" disabled>Text</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>